/* | CSS RESET | ------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* | GENERAL STYLES | -------------------------- */
.header  {
  font-family: monospace;
  background: papayawhip;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  
  margin: 15px;
}

ul {list-style-type: none;}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
}


/* | FLEXBOX | --------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.left-links,
.right-links {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  margin: 10px;
  gap: 12px;
}